<mat-card id="login-card">
    <mat-card-content>
        <h4 class="text-center"><i class="fa fa-lock mr-3"></i> Login</h4>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Display global error message -->
            <mat-error *ngIf="errorMessages['length']" class="text-center">
                <ng-container *ngFor="let msg of errorMessages">{{ msg }}<br></ng-container>
            </mat-error>
           
            <mat-form-field class="form-inputs">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" required>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                    Invalid email format
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-inputs">
                <mat-label>Password</mat-label>
                <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" required>
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>
            <!-- checkbox for showing/hiding password -->
            <mat-checkbox (change)="togglePasswordVisibility()">Show Password</mat-checkbox>

            <a href="#" class="float-end">Forgot Password</a>
            <br><br>
            <button mat-raised-button color="primary" style="width: 100%;" type="submit">Login</button>
            <p>Don't have an account? <a href="#">Register here</a></p>
        </form>
    </mat-card-content>
</mat-card>
<br><br>
<div class="spacer">
</div>