<h2>Dashboard</h2>
<hr>
<div class="row">
    <div class="">
        <mat-card>
            <mat-card-content>
                <a class="btn btn-success" routerLink="/products">
                    <i class="fa fa-box mr-3"></i> Products
                </a>
                &nbsp; &nbsp;
                <a class="btn btn-success" routerLink="/order">
                    <i class="fa fa-box-open mr-3"></i> View Orders
                </a>
                &nbsp; &nbsp;
                <a class="btn btn-success" routerLink="/new-order">
                    <i class="fa fa-plus mr-3"></i> Add Orders
                </a>
                <div>
                    <br>
                    <p>
                        Welcome to our system, where managing your orders and products is seamless and efficient. Clients
                        can easily log in, browse products through a simple table, and manage their orders—all with a
                        modern and intuitive interface. Built with Angular on the frontend, and powered by
                        OAuth 2.0 JWT Bearer for secure access, our application leverages C# (.NET Core) and .Net 6 Entity
                        Framework on the backend. Experience real-time updates and smooth interactions with
                        our Order Management Platform and Product System through asynchronous and synchronous
                        communication methods.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>