.val{
    font-size: 23px;
    font-weight: bold;    
}
.fa-sharp{
    font-size: 20px;
    padding: 1px;
    font-weight: bold;
}

mat-card-subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 15px;
}

mat-card-content{
    color: black;
}