/* You can add global styles to this file, and also import other style files */
html,
body {
    padding: 0px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: hidden;
}

.spacer {
    flex: 1 1 auto;
}

.row {
    row-gap: 10px;
}

.frm-cotrol {
    width: 100%;
}
